<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pirate Battles</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">t</span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builder">
                <span class="nav-icon">w</span> Fleet Builder
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modifiers">
                <span class="nav-icon">3</span> Modifiers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shiptypes">
                <span class="nav-icon">1</span> Ship Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="bi bi-journal-check" aria-hidden="true"></span> Rules
            </NavLink>
        </div>
    </nav>
</div>

