@page "/"

<PageTitle>Home</PageTitle>

<h1><span style="font-family: Armadapirata">t</span> Ahoy world!</h1>

<div class="row">
    <div class="col-3">
        <img src="../images/it_does_run.jpg" class="card-img-top" alt="It does run">
    </div>
    <div class="col-9">
        <p>
            Aye! Are you prepared to take over the high seas? Use this site to build out your fleet and see if you can conquer the carribean.
            Players will be given a budget for putting together their Fleet and this site will automatically calculate the cost of the Ship being
            added to the Fleet.
        </p>
        <p>
            This site is an attempt to follow the rules of the official game as closely as possible, but this is not an official site. Most tournaments 
            will accept the generated battle cards for tournament play.
        </p>
        <p>
            Rather than using chips to track the damage done to Crew or the Ship the Battle Card gives a number of markers to track the total amount of hits that
            the ship can sustain as well as a marker per Crew member. Simply mark through one to "remove a chip".
        </p>
    </div>
</div>

